
// API CON AJAX CALL

// $(document).ready(function(){
// 	$('.button').on('click', function(e) {
// 		e.preventDefault();
// 		var username = $('#username').val();
// 		url = "https://api.github.com/users/" + username
// 		$.ajax ({
// 			url: url,
// 			type: "GET",
// 			dataType: "json"
// 		}).done(function(response){
// 			console.log(response)
// 			var name = response.name;
// 			var login = response.login;
// 			var avatar = response.avatar_url;
// 			$('.info').append('<h3> Name:'+ name +'</h3><h3> Username:' + login +' </h3><img src='+avatar+' alt="image" />');
// 		});
// 	});
// })

// $.get()

//Tambien se puede hacer con el .get que necesita menos datos
