<h1>GitHub API</h1>

<input type="text" name="username" id="username" placeholder="Github username...">
<button class="button">User data</button>

<div class="info">
	<%= @name %>
	<img src="<%= @image %>" alt="">
</div>


